@model ModelLayer.Models.User
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | GeekMovie</title>
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#d0d3e2;">
    <div class="login-header">
        <b>GeekMovie</b>.com
    </div>
    <div class="login-content">
        <div class="row">
            <p class="login-msg">Sign in to start your session</p>

            @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Email", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Password", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="col-md-8 col-md-offset-4" style="width:150px">
                                <div class="checkbox">
                                    <input checked="checked"
                                           id="rememberMe"
                                           name="rememberMe"
                                           type="checkbox"
                                           value="true" />
                                    <a>Remember Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-6 col-md-offset-6">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center">
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            }
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    }
</body>
</html>